* {
  box-sizing: border-box;
}

body {
		
            color:#fff;            
            font-family: 'Mansalva', cursive;
            transition:all 4s ease;
		
	/* Location of the image */
  background-image: url(Imagens/SomenteTAO.png);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: white;
}

video {
  width: 60%;
  max-width:60vw;
  height: auto;
	display: block;
	margin: 0 auto;
	 padding:0.6vw 0.6vw 0.6vw 0.6vw;
			 border-width: 0.2vw;; /* aqui, cada lado possui uma borda de largura diferente */
			border-style: outset; /* estilos de borda */
			border-color: gold; /* uma cor de borda para cada lado */
			border-radius: calc(0.1vw+1%); 
	
}
.video-container {
	 z-index: -1; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
	position: absolute;
   padding: 1vw;
  left: 20vw;
  top: 2vw;
  margin: 0 auto;
  color: white;
  border-radius: 2vw;  
  font-size:calc(100% + 1vw)/*prevent being too small*/;
}
.efeitoleitura
        {
			color: gray;
            opacity:1;
			text-align:justify;
			padding:4vw 4vw 4vw 4vw;
        }
		.efeitoleitura:hover
        {
            color: green; 
			text-decoration: none;
			webkit-transition-duration: 0.8s;
			transition-duration: 0.8s;
			font-weight: lighter;
			 margin: 2vw auto;
			 background-image: linear-gradient(+45deg, rgba(55,255,250,0.3), rgba(190,120,50,0.3), rgba(25,15,15,0.3));
			 padding:calc(2vw+1%);
			 border-width:calc(0.6vw+1%); /* aqui, cada lado possui uma borda de largura diferente */
			border-style: outset; /* estilos de borda */
			border-color: gold; /* uma cor de borda para cada lado */
			border-radius: 1vw; 				
					
  animation:colorchgContainer 6s infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 32s;
        }
		
.mobile-container {
	font-family: 'Share Tech Mono', serif;
   z-index:1;
  
  position: relative;
  top: calc(100px + 12vw);
  max-width: 98%;
  max-height:98%;
  margin: 2vw auto;
  background-image: linear-gradient(+45deg, rgba(155,255,250,0.3), rgba(190,120,150,0.3), rgba(255,150,150,0.3));
  	
	border-width: 0.4vw; /* aqui, cada lado possui uma borda de largura diferente */
    border-style: outset; /* estilos de borda */
    border-color: white; /* uma cor de borda para cada lado */
	border-radius: 0.6vw; 	
  color: green;
   
  font-size:calc(0.7em + 1vw)/*prevent being too small*/;
 		
  animation:colorchgContainer 2s infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 32s;
}

.logo {
  
  color:green;	
	font-family: 'Share Tech Mono', serif;	
	width:99.8%;	
	height:calc(5% +1vw);    
	border-width: 0.2vw;; /* aqui, cada lado possui uma borda de largura diferente */
    border-style: outset; /* estilos de borda */
    border-color: white; /* uma cor de borda para cada lado */
	border-radius:0.1vw;		
	
/* Location of the image */
  background-image: url(Imagens/TAU.png);  
  /* Background image is centered vertically and horizontally at all times */
  background-position: top right;  
  /* Background image doesn't tile */  
  background-repeat: no-repeat;  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: relative;  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: contain, cover;  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: green;    
  z-index:4;
  position: fixed;
   padding: 1vw;
  left: 0.1vw;
  top: 0.1vw;
  display: block;
margin: 0.1vw auto;
font-size:calc(0.3em + 1vw);


}
@keyframes colorchg {
		20%
		  {
			  color: white;
			  background-image: linear-gradient(-45deg,white,black,green);
			   border-color: black; /* uma cor de borda para cada lado */
		  }
		60% {
			color:gold;		
			background-image: linear-gradient(-10deg,black,green,white);
			 border-color: green; /* uma cor de borda para cada lado */
			}
		80% {
			color:white;		
			background-image: linear-gradient(+45deg,green),white,black);
			 border-color: white; /* uma cor de borda para cada lado */
			}
}
@keyframes colorchgContainer {
		20%
		  {
			  color: black;
			  background-image: linear-gradient(-45deg,rgba(255,155,255,0.8),rgba(155,255,255,0.8),rgba(255,255,155,0.8));
			   border-color: black; /* uma cor de borda para cada lado */
		  }
		60% {
			color:green;		
			background-image: linear-gradient(-10deg,rgba(155,255,255,0.8),rgba(255,155,255,0.8),rgba(255,255,155,0.8));
			 border-color: green; /* uma cor de borda para cada lado */
			}
		80% {
			color:maroon;		
			background-image: linear-gradient(+45deg,green),rgba(255,255,155,0.8),rgba(255,155,255,0.8),rgba(155,255,255,0.8));
			 border-color: white; /* uma cor de borda para cada lado */
			}
}
/*fundo do top nav */
.topnav {
  overflow: hidden;
  
  font-family: 'Share Tech Mono', serif;
  z-index:5;
  background-color:rgb(255,255,255);
  position: fixed;
  padding:0.3vw 0.3vw 0.3vw 0.3vw;
  right: 2vw;
  top: 2vw;
  font-size:calc(75% + 1vw);/*prevent being too small*/
}
/* */
.topnav #myLinks {

  display: none;
  float: right;
}

.topnav a {
  color: white; 
  padding:1vw 10vw;
  text-decoration: none;
  display: block;
   overflow: hidden;
   background: black;
   background-image: linear-gradient(-45deg,white,green,black);
 
 webkit-transition-duration: 1s;
transition-duration: 1s;
	-webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
  
  		
  animation:colorchg 2s infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 24s;
}

.topnav a.icon {
  background-color: white;
  padding: 2vw 2vw 2vw 2vw;
  display: block;   
  float:right;
  position: absolute;
  right: 1vw;
  top: 0;
 z-index:9;
  }

.topnav a:hover {
  background-color: green;
 color:gold;
 border-radius: 1vw;
 font-weight: bold;
 
 animation:colorchg 2s infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 12s;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

.active {
  
  color: white;
   
}
.triangle-down {
	width: 0px;
	height: 0px;
	border-left: 1vw solid transparent;
	border-right: 1vw solid transparent;
	border-top: 2vw solid #555;
}
/* Dropdown Button */
.dropbtn {
  display: none;
  overflow: hidden;
  font-size: calc(100% + 0.8vw);
  background-color:black;
  
  }
/* Change color of dropdown links on hover */
.dropbtn a:hover{
  border-radius: 0.1vw;
  font-weight: bold;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline;
  
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;/*esconde o conteudo até que se clicke nele*/
  overflow: hidden;  
  position: relative;  
  background-color: white;
   box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
   background-color: green;
  padding: 1vw 1vw;
  text-decoration: none;
  display: block;  
}
.dropdown:hover .dropdown-content {
  display: inline;
   border-radius: 0.1vw;
   font-weight:bold; 
   
 animation:colorchg 2s infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 12s;   
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}
img{
	
  max-width:80%;
  max-height:80%;
  display: block;
	margin-left: auto;
	margin-right: auto;
  
}
#myVideo {
  right:0;
  top: 0;
  }
#myBtn {
	font-family: 'Share Tech Mono', serif;
  font-size: 0.3em;
  
  border: solid;
  border-color:white;
  background: #000;
  color: #fff;
  cursor: pointer;
  }

#myBtn:hover {
  background: green;
  color: black;
}
canvas{
	
    width:50%;
   height:50%;
   max-width:90%;
   max-height:90%;
    border:solid black 3vw;
	display: block;
	margin: 2vw auto;
	image-rendering: -webkit-optimize-contrast !important;
	
}
.glow {
  
  color: white;
  
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1vw red, 0 0 2vw orange, 0 0 3vw yellow, 0 0 2vw green, 0 0 3vw purple, 0 0 1vw blue, 0 0 2vw teal;
  }
  to {
    text-shadow: 0 0 1vw teal, 0 0 1vw blue, 0 0 2vw purple, 0 0 2vw green, 0 0 1vw yellow, 0 0 2vw orange, 0 0 3vw red;
  }
}

.slideshowContainer{
	position: relative;
  text-align: center;
  color: white;
 
	}
