* {
  box-sizing: border-box;
}

body {
		
            color:#fff;            
            font-family: 'Mansalva', cursive;
            transition:all 4s ease;
		
	/* Location of the image */
  background-image: url(Imagens/SomenteTAO.png);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

video {
  width: 100%;
  height: auto;
	display: block;
	margin: 0 auto;
}
.efeitoleitura
        {
            opacity:1;
			text-align:justify;
			padding:1vw 1vw 1vw 1vw;
        }
		.efeitoleitura:hover
        {
            color: gold; 
			text-decoration: none;
			webkit-transition-duration: 2s;
			transition-duration: 2s;
        }
		
.mobile-container {
	
opacity:0.5;
   z-index:1;
   position: relative;
   top: 1vw;   
    max-width: 100%;
  max-height:100%;
  margin: 1vw auto;
  background-image: linear-gradient(+45deg, rgb(10,10,50), teal, purple);
  	
	border-width: 0.2vw;; /* aqui, cada lado possui uma borda de largura diferente */
    border-style: outset; /* estilos de borda */
    border-color: white; /* uma cor de borda para cada lado */
	border-radius:12px;
	
  color: white;
  border-radius: 10px;  
  font-size:calc(100% + 1vw)/*prevent being too small*/;
}
.video-container {
	z-index:0;
   max-width: 100vw;
 
  margin: 0vw auto;
  color: white;
  border-radius: 10px;  
  font-size:calc(100% + 1vw)/*prevent being too small*/;
}
.logo {
	font-family: 'Share Tech Mono', serif;
	opacity:0.6;
	min-width: 98%;
	width:92vw;
	max-height:calc(10% +1vw);
    
	border-width: 0.2vw;; /* aqui, cada lado possui uma borda de largura diferente */
    border-style: outset; /* estilos de borda */
    border-color: #000; /* uma cor de borda para cada lado */
	border-radius:1vw;	
	
  background-image: linear-gradient(-45deg,white, #357, gray);
  z-index:4;
  position: fixed;
   padding: 1vw;
  left: 1vw;
  top: 1vw;
  display: block;
margin: 0 auto;
font-size:calc(100% + 1vw)/*prevent being too small*/;
}

.topnav {
  overflow: hidden;
  z-index:5;
  font-size: calc(100% + 1vw);
  background-color:rgba(0, 0, 0,0.8);
  position: fixed;
  padding-right:1vw;
  right: 0;
  top: 0;
}

.topnav #myLinks {

  display: none;
  float: right;
}

.topnav a {
  color: white; 
  padding:0px 10vw;
  text-decoration: none;
  display: block;
  
  webkit-transition-duration: 1s;
			transition-duration: 1s;
}

.topnav a.icon {
  background: white;
  padding: 1vw 1vw;
  display: block;   
  position: absolute;
  right: 1vw;
  top: 0;
 z-index:9;
  }

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
 
}

.active {
  background-color: #4CAF50;
  color: white;
   
}
.triangle-down {
	width: 0px;
	height: 0px;
	border-left: 0.5vw solid transparent;
	border-right: 0.5vw solid transparent;
	border-top: 1vw solid #555;
}
/* Dropdown Button */
.dropbtn {
  display: inline;
  overflow: hidden;
  font-size: calc(100% + 0.8vw);
  background-color:black;
  }
/* Change color of dropdown links on hover */
.dropbtn a:hover{
  background-color: white;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
  
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  overflow: hidden;  
  position: relative;  
  background-color: #f9f9f9;
   box-shadow: 0px 8px 16px 0px black);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: gold;
  padding: 1vw 1vw;
  text-decoration: none;
  display: block;  
}
.dropdown:hover .dropdown-content {
  display: inline-block;
  background-color: black;
  color:white;
}
#myVideo {
  
  right: 0;
  top: 0;
  min-width: 25vw; 
  min-height: 25vw;
 
}
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
